{% extends 'home.html'%}
{% load static %}
{% block title %}About{% endblock title %}
{% block body %}
        <div class="container-fluid one">
            <div class="container-fluid">
                <h2>About Us<h2>
                <p>
                    A malicious social media post detection system is a security measure designed to identify and flag suspicious or harmful content on social media platforms<br>This system uses various methods such as artificial intelligence, machine learning, and natural language processing to analyze posts and detect potential threats.<br> These threats can include phishing attempts, brand impersonation, and social engineering attacks, which often involve the collection of personal or sensitive information.<br> The system helps organizations and individuals protect their data and accounts by alerting them to suspicious activity and preventing the spread of malicious content. Proper education and training of users on best practices for protecting data and credentials are crucial in implementing an effective malicious social media post detection system.</p>
                </p>
            </div>
        </div>
{% endblock body %}